name: Run Gradle on PRs
on: pull_request

jobs:
  detekt:
    runs-on: ubuntu-latest

    steps:
      - name: "checkout"
        uses: actions/checkout@v3

      - name: "detekt"
        uses: natiginfo/action-detekt-all@1.23.0
        with:
          args: --config detekt.yml